@font-face {
    font-family: "PP Editorial Old";
    src: url("../fonts/PPEditorialOld-Ultralight.otf") format("opentype");
}

:root {
    font-size: 110%;
    --backgroundcolor: white;
    --color: #ff0019;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--color);
    font-family: "PP Editorial Old";
    padding-inline: 1rem;
    /* trying a background image - used MDN */
    background: url(./img1.png);
    background-position: center;
    background-size: 100rem;

}

h1 {
    font-family: "PP Editorial Old";
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 100%;
    padding-block: 1rem;
}

h2 {
    font-size: 2rem;
    line-height: 110%;
    margin-block: 2rem;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem); 
}

.author {
    line-height: 110%;
    padding-block-end: 3rem;

    P{
    font-size: 1.8rem;
    line-height: 110%;
    }
}

p{
    font-size: 1.2rem;
    line-height: 150%;
}

footer {
    padding-block-start: 4rem;
    padding-block-end: 1rem;

    p{
    font-size: 1.8rem;
    line-height: 110%;
    }
}

article {
    p {
    padding-block: 1rem;
    }
}

svg {
    background-color: var(--color)
}


nav ol {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-inline-end: -1rem;
    padding-block: 1rem;
}

nav ol li {
    background-color: var(--color);
    color: var(--backgroundcolor);
    padding: 0.5rem;
}