@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
     font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* prevents vertical scroll from class website/MDN */
}

header {
    padding-block-end: calc(var(--padding)*2);
}


/* my h1 */
h1 {
    font-size: 3rem; 
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--maincolor);
    padding-block: calc(var(--padding)*4);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 4rem; 
        padding-block: calc(var(--padding)*8);
        padding-inline: calc(var(--padding)*2);
    }

    @media (width > 950px) {
        font-size: 6rem; 
        padding-inline: calc(var(--padding)*4);
        max-width: 18ch;    
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }
}

h2 {
    border-block-end: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    color: var(--maincolor);
    text-transform: uppercase;
    padding-block: calc(var(--padding)*2);
    padding-inline: var(--padding);
    /* max-width: 40ch; */

    @media (width > 600px) {
        font-size: 2rem; 
        padding-inline: calc(var(--padding)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
        max-width: 50ch; 
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }

}

p, .open {
    font-size: 1rem;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-inline: var(--padding);
    padding-block: var(--padding);
    /* text-wrap: balance; */

    @media (width > 600px ) {
        font-size: 1.2rem;
        padding-inline: calc(var(--padding)*2); 
        max-width: 75ch;
    }

    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);   
    }

    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }

}



/* title highlight */
span {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: calc(var(--padding)/2);
    display: inline-block;
}


/* my top nav bar for getting between pages */
nav ol, summary {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    @media (width > 600px) {
        font-size: 1.3rem; 
    }
    @media (width > 950px) {
        font-size: 1.5rem; 
    }
}

nav ol {
    @media (width > 950px) {
        display: flex;
        flex-direction: row;
    }
}

.sticky {
    position: sticky;
    top:0;    
    z-index: 1;
}

/* from class how to translate down */
.sticky li:hover {
    @media (width > 950px) {
        transform: translateY(20px);}
}

nav ol li, summary {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding-inline: calc(var(--padding)*0.7);
    padding-block: calc(var(--padding)*1.2);
    text-align: center;
      a {
        text-decoration: none;
        display: block;
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*3);
        padding-block: calc(var(--padding)*2);
        width: 100%;
    }
}

summary {
    background-color: var(--maincolor);
    cursor: pointer;
}

/* to highlight the page it's on */
#select {
    background-color: var(--maincolor);
}



/* author information */
.author {
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 0.1rem;
    border-bottom-width: 4rem;
    outline: var(--accentcolor);
    outline-width: 2rem;
 
    p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--accentcolor);
    padding-block: var(--padding);
    padding-inline-start: var(--padding);
     
        @media (width > 600px) {
            font-size: 1,8rem;

        }
        @media (width > 950px) {
            font-size: 2rem;
        }
    }

    @media (width > 600px) {
       padding: calc(var(--padding)*2); 
    }
    @media (width > 950px) {
        padding: calc(var(--padding)*4);
    }
}

/* my in text highlights */
strong {
    font-weight: 500;
    display: inline;
    /* Looked at Evgenii and Zarah's project 2 for underlining */
    text-decoration: underline;
    text-decoration-color: var(--accentcolor);
    text-decoration-thickness: 0.3rem;
    text-underline-offset: -0.12rem;
    text-decoration-skip-ink: none;
}

/* footer  */
footer {
    padding-block: calc(var(--padding)*2);
    padding-inline-start: var(--padding);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--accentcolor);
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 4rem;
    border-bottom-width: 0.1rem;

    @media (width > 600px) {
        padding-inline: calc(var(--padding)*2);
    }
    
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
    
}

.bottom {
    padding-block: var(--padding);

    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }
}

a {
    text-decoration: underline;
}


blockquote {
    font-size: 1rem;
    font-style: italic;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-block: var(--padding);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 1.2rem;
        max-width: 75ch;
        padding-inline: calc(var(--padding)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }
} 
svg {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    overflow-x: hidden; 
    
}

main {
    padding-block-end: calc(var(--padding)*6);
}

/* trying animation from MDN but not sure about it */

/* svg {
    animation-duration: 3s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 100%;
    }
    to {
        opacity: 75%;
    }
} */