@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --article1: #FF461D;
    --article2: #4D64FF;
    --article3: #EB51FF; 
     /* testing new colors */
    /* --article1: #FF2F00;
    --article2: #3631FB;
    --article3: #EB51FF; */
    --spacing: 1rem;
    --fontfamily: "Poppins", sans-serif;
    --borderwidth1: 0.1rem;
    --borderwidth2: 4rem;

    /* font sizes tried to use variables for typesize */
    --typebase: 1rem;
    --typesmall: 1.25rem;
    --typesmall2: 1.5rem;
    --typemedium: 2rem;
    --typemedium2: 3rem;
    --typemedium3: 4rem;
    --typelarge: 6rem;
    --typelarge2: 8rem;

    /* lineheight */
    --lineheight: 90%;
    --plineheight: 140%;

    /* weight */
    --midweight: 500;
    --heavyweight: 700;

}

body {
    font-family: var(--fontfamily);
    overflow-x: hidden;
    /* prevents vertical scroll from class website/MDN */
}

header {
    padding-block-end: calc(var(--spacing)*2);

}


/* my h1 */
h1 {
    font-size: var(--typemedium2); 
    font-weight: var(--heavyweight);
    line-height: var(--lineheight);
    text-transform: uppercase;
    color: var(--maincolor);
    padding-block: calc(var(--spacing)*4);
    padding-inline: var(--spacing);

    @media (width > 600px) {
        font-size: var(--typemedium3);
        padding-block: calc(var(--spacing)*8);
        padding-inline: calc(var(--spacing)*2);
    }

    @media (width > 950px) {
        font-size: var(--typelarge);
        padding-inline: calc(var(--spacing)*4);
        max-width: 18ch;    
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
    }
}


h2 {
    border-block-end: solid;
    border-color: var(--maincolor);
    border-width: var(--borderwidth1);
    font-size: var(--typesmall2);
    font-weight: var(--heavyweight);
    line-height: var(--lineheight);
    color: var(--maincolor);
    text-transform: uppercase;
    padding-block: calc(var(--spacing)*2);
    padding-inline: var(--spacing);
    /* max-width: 40ch; */

    @media (width > 600px) {
        font-size: var(--typemedium);
        padding-inline: calc(var(--spacing)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*4);
        max-width: 50ch; 
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
    }

}

p, .open, blockquote {
    font-size: var(--typebase);
    line-height: var(--plineheight);
    color: var(--maincolor);
    padding-inline: var(--spacing);
    padding-block: var(--spacing);
    /* text-wrap: balance; */

    @media (width > 600px ) {
        font-size: var(--typesmall);
        padding-inline: calc(var(--spacing)*2); 
        max-width: 75ch;
    }

    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*4);   
    }

    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
    }

}

blockquote {
    font-style: italic;
} 


/* title highlight */
span {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: calc(var(--spacing)/2);
    display: inline-block;
}

.backtop {
    span {
        padding: calc(var(--spacing)*2);
    }
}

/* my top nav bar for getting between pages */
nav ol, summary {
    font-size: var(--typebase);
    text-transform: uppercase;
    font-weight: var(--midweight);

    @media (width > 600px) {
        font-size: var(--typesmall); 
    }
    @media (width > 950px) {
        font-size: var(--typesmall2);
    }
}

nav ol {
    @media (width > 950px) {
        display: flex;
        flex-direction: row;
    }
}

.sticky {
    position: sticky;
    top:0;    
    z-index: 1;
}

/* from class how to translate down */
.sticky li:hover {
    @media (width > 950px) {
        transform: translateY(20px);
    }
}

nav ol li, summary {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    text-align: center;
      a {
        text-decoration: none;
        display: block;
        padding-inline: calc(var(--spacing)*0.7);
        padding-block: calc(var(--spacing)*1.2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*3);
        padding-block: calc(var(--spacing)*2);
        width: 100%;
    }
}

summary {
    background-color: var(--maincolor);
    cursor: pointer;
    padding-inline: calc(var(--spacing)*0.7);
    padding-block: calc(var(--spacing)*1.2);
}

/* to highlight the page it's on */
#select {
    background-color: var(--maincolor);
}




/* author information */
.author {
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: var(--borderwidth1);
    border-bottom-width: var(--borderwidth2);
    outline: var(--accentcolor);
    outline-width: 2rem;
 
    p {
    font-size: var(--typesmall2);
    font-weight: var(--midweight);
    line-height: var(--lineheight);
    text-transform: uppercase;
    color: var(--accentcolor);
    padding-block: var(--spacing);
    padding-inline-start: var(--spacing);
    
        @media (width > 950px) {
            font-size: var(--typemedium);
        }
    }

    @media (width > 600px) {
       padding: calc(var(--spacing)*2); 
    }
    @media (width > 950px) {
        padding: calc(var(--spacing)*4);
    }
}

/* my in text highlights */
strong {
    font-weight: var(--midweight);
    display: inline;
    /* Looked at Evgenii and Zarah's project 2 for underlining */
    text-decoration: underline;
    text-decoration-color: var(--accentcolor);
    text-decoration-thickness: 0.3rem;
    text-underline-offset: -0.12rem;
    text-decoration-skip-ink: none;
}

/* footer  */
.backtop {
    padding-block: calc(var(--spacing)*4);
    /* padding-inline-start: var(--spacing); */
    margin-block-end: calc(var(--spacing)*4);
    font-size: var(--typesmall2);
    font-weight: var(--midweight);
    line-height: var(--lineheight);
    text-transform: uppercase;
    color: var(--accentcolor);
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: var(--borderwidth2);
    border-bottom-width: var(--borderwidth1);
    display: flex;
    flex-direction: column;

    @media (width >850px) {
        flex-direction: row;
        padding-inline: calc(var(--spacing)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*4);
        :hover {
        scale: 105%;
        }
    }
  
    
}

.bottom, .bottom2 {
    a{
    padding: calc(var(--spacing)*2);
    }

    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
        a{
        padding-inline: calc(var(--spacing)*4);
        }
        
    }
}

.bottom2::before {
    content: ">";   
    display: inline-block;
}

.bottom::before {
    content: ">";   
    display: inline-block;
    transform: rotate(-90deg);
}

main, header {
a {
    text-decoration: underline;
}
}


svg {
    z-index: -10;
    max-width: 100%;
    overflow-x: hidden;
}

.svgparent {
    position: absolute;
}



/* 
.red {
    transform: scale(0.8) translateY(-30%) translateX(-20%);
    @media (width > 500px) {
        transform: scale(2) translateY(0);
    }
    @media (width > 950px) {
        transform: scale(1.5) translateY(0);
    }
    path {
        fill: var(--article1);
    }
}

.blue {
    position: relative;
    transform: scale(0.8) translateY(-120%) translateX(30%);
    @media (width > 500px) {
        transform: scale(2) translateY(30%) translateX(50%);
    }
    @media (width > 950px) {
        transform: scale(1.5) translateY(20%) translateX(70%);
    }
    path {
        fill: var(--article2);
    }
}

.pink {
    position: relative;
    transform: scale(0.8) translateY(-200%) translateX(-20%);
    @media (width > 500px) {
        transform: scale(2) translateY(50%) translateX(-50%);
    }
     @media (width > 950px) {
        transform: scale(1.5) translateY(50%) translateX(-70%);
    }
    path {
        fill: var(--article3);
    }
} */






/* .blue {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: -3;
}

.blue1 { 
    position: absolute;
    z-index: -1;
    width: 60%; 
    height: 40%; 
    border-color: var(--article2);
    border-style: solid;
    border-width: 1rem;
    border-inline-end-width: 15rem;
    top: calc(var(--spacing)*10);
    left: var(--spacing);
}

.blue2 { 
    position: absolute;
    z-index: -1;
    width: 50%; 
    height: 43%;  
    background-color: var(--article2); 
    top: calc(var(--spacing)*12);
    left: calc(var(--spacing)*2);
} */

main {
    padding-block-end: calc(var(--spacing)*6);
}


footer {
    border-block: none;
    padding-inline: 0;

    p {
        text-transform: uppercase;
        font-weight: var(--midweight);
        font-size: var(--typesmall2);
        color:var(--lightcolor);
        margin-inline: 0;    
        padding: calc(var(--spacing)*2);
    }
    @media (width>600px) {
        	display: grid;
	    grid-template-areas:
		"first img"
		"second img"
		"third img";
	grid-template-columns: 1fr auto;
	block-size: 20rem;
    }
}

img {
    @media (width>600px) {
    grid-area: img;
	block-size: 100%;
	aspect-ratio: 1;
    block-size: 20rem;
    }
}

/* .footertext {
    display: flex;
    flex-direction: column;
      
} */

.first {
    background-color: var(--article1);
}
.second {
    background-color: var(--article2);
}
.third {
    background-color: var(--article3);
}