@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
     font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}

/* finally sorta understadning calc and var - tried it for padding and line height on direction 1 */
body {
    font-family: "Poppins", sans-serif;
}

header {
    padding-block-end: calc(var(--padding)*2);
}


/* my h1 */
h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--maincolor);
    padding-block: calc(var(--padding)*4);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 4rem; 
        padding-block: calc(var(--padding)*8);
        padding-inline: calc(var(--padding)*2);
    }

    @media (width > 950px) {
        font-size: 6rem; 
        padding-inline: calc(var(--padding)*4);
        max-width: 18ch;
        
    }
}

h2 {
    border-block-end: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    color: var(--maincolor);
    text-transform: uppercase;
    padding-block: calc(var(--padding)*2);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 2rem; 
        padding-inline: calc(var(--padding)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
        max-width: 50ch; 
    }

}

p {
    font-size: 1rem;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-inline: var(--padding);
    padding-block: var(--padding);

    @media (width > 600px) {
        font-size: 1.2rem;
        padding-inline: calc(var(--padding)*2);
        max-width: 75ch;
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
        
    }

}

/* title highlight */
span {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: calc(var(--padding)/2);
    display: inline-block;
}


/* my top nav bar for getting between pages */
nav ol {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    @media (width > 600px) {
        font-size: 1.3rem; 
    }
    @media (width > 950px) {
        font-size: 1.5rem; 
    }
}

/* making nav sticky */
.sticky {
    position: sticky;
    top:0;
    
}

nav ol li {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding-inline: calc(var(--padding)*0.7);
    padding-block: calc(var(--padding)*1.2);
    width: 100vh;
    text-align: center;
      a {
        text-decoration: none;
    }

     @media (width > 950px) {
        padding-inline: calc(var(--padding)*3);
        padding-block: calc(var(--padding)*2);
    }
}

/* to highlight the page it's on */
#select {
    background-color: var(--maincolor);
}



/* author information */
.author {
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 0.1rem;
    border-bottom-width: 4rem;
    outline: var(--accentcolor);
    outline-width: 2rem;
 
    p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--accentcolor);
    padding-block: var(--padding);
    padding-inline-start: var(--padding);
     
        @media (width > 600px) {
            font-size: 1,8rem;

        }
        @media (width > 950px) {
            font-size: 2rem;
        }
    }

    @media (width > 600px) {
       padding: calc(var(--padding)*2); 
    }
    @media (width > 950px) {
        padding: calc(var(--padding)*4);
    }
}

/* my in text highlights */
strong {
    font-weight: 500;
    /* background-color: var(--accentcolor);
    color: var(--lightcolor); */
    display: inline;
    /* Looked at Evgenii and Zarah's project 2 for underlining */
    text-decoration: underline;
    text-decoration-color: var(--accentcolor);
    text-decoration-thickness: 0.3rem;
    text-underline-offset: -0.12rem;
    text-decoration-skip-ink: none;
}

/* footer  */
footer {
    padding-block: calc(var(--padding)*2);
    padding-inline-start: var(--padding);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--accentcolor);
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 4rem;
    border-bottom-width: 0.1rem;

     @media (width > 600px) {
        padding-inline: calc(var(--padding)*2);
    }
    
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
    
}

.bottom {
    padding-block: var(--padding);
}

a {
    text-decoration: underline;
}

/* svg styling */
svg {
    display: block;
}

line {
    stroke: var(--accentcolor);
    stroke-width: 3rem;
}

blockquote {
    font-size: 1rem;
    font-style: italic;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-block: var(--padding);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 1.2rem;
        max-width: 75ch;
         padding-inline: calc(var(--padding)*2);
    }
    
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
} 

/* potentially make the footer flex didn't have time to finish it will come back to it */
/* maybe a bottom flex bar  */
/* .bottomflex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding-block-start: calc(var(--padding)*3);
    background-color: var(--maincolor);
   
    p {
        color: var(--lightcolor);
    }
    @media  (width > 950px) {
        flex-direction: row;
        
    }
} */
