
:root {
     font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --article1: #ff0019;
    --article2: #3631FB;
    --article3: #EB51FF;
    --padding: 1rem;
    --lineheight: 100%
}

/* finally sorta understadning calc and var - tried it for padding and line height on direction 1 */
body {
    font-family: "Poppins", sans-serif;
}

header {
    padding-block-end: calc(var(--padding)*2);
}
    
h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--maincolor);
    padding-block: calc(var(--padding)*4);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 4rem; 
        padding-block: calc(var(--padding)*8);
    }

     @media (width > 950px) {
        font-size: 5rem; 
        max-width: 15ch;
    }
}

h2 {
    border-block-end: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    color: var(--maincolor);
    text-transform: uppercase;
    padding-block-end: calc(var(--padding)*2);

    @media (width > 600px) {
        font-size: 2rem; 
    }

}

p {
    font-size: 1.2rem;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-block: var(--padding);

     @media (width > 600px) {
        max-width: 55ch;
    }

}

/* title highlight */
span {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: calc(var(--padding)/2);
    display: inline-block;
}


/* this is my footnote list */
ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--padding);

}

/* from class how to create column */
ul {
    position: fixed; 
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    gap: 0.5rem;
    padding-block: var(--padding);
    /* border-inline: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem; */

}

/* my top nav bar for getting between pages */
nav ol {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    
    @media (width > 600px) {
        font-size: 1.3rem; 
    }
}

nav ol li {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: calc(var(--padding)*0.7);
      a {
        text-decoration: none;
    }
}

#select {
    background-color: var(--maincolor);
}




.author {
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 0.1rem;
    border-bottom-width: 4rem;
    outline: var(--accentcolor);
    outline-width: 2rem;
 
    p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--accentcolor);
    padding-block: var(--padding);
    padding-inline-start: var(--padding);
     
         @media (width > 600px) {
            font-size: 1,8rem;
        }
    }

    @media (width > 600px) {
       padding-block: calc(var(--padding)*2); 
    }
}


strong {
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    display: inline-block;
}

footer {
    padding-block: calc(var(--padding)*2);
    padding-inline-start: var(--padding);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--accentcolor);
    border-block: solid;
    border-color: var(--maincolor);
    border-top-width: 4rem;
    border-bottom-width: 0.1rem;
}

.bottom {
    padding-block: var(--padding);
}

a {
    text-decoration: underline;
}

svg {
    display: block;
}

line {
    stroke: var(--accentcolor);
    stroke-width: 3rem;
}
