@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --article1: #ff0019;
    --article2: #3631FB;
    --article3: #EB51FF;
    --padding: 1rem;
    --lineheight: 100%
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
    border-style: none;
    color: var(--lightcolor);
}

h3 {
    font-size: 1.5rem;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--maincolor);
    padding-inline: 1rem;
    padding-block-end: 1rem;
    font-weight: 400;
    color: var(--lightcolor);
}


nav ol {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem;
    justify-content: center;

    :hover {
        scale: 110%;
    }

}

li {
    /* display: inline-block; */
    color: var(--lightcolor);
    padding: var(--padding);
}

ol li {
       font-size: 3rem;

}
.first {
    background-color: var(--article1);
    transform: rotate(10deg);
}
.second {
    background-color: var(--article2);
    transform: rotate(-5deg);
}
.third {
    background-color: var(--article3);
    transform: rotate(5deg);
}

p {
    padding-inline: var(--padding);
    color: var(--maincolor);
}

section {
    p {
        padding-block: calc(var(--padding)*4);
    }
}

footer {
    padding-block: calc(var(--padding)*2);
    text-transform: uppercase;
    font-weight: 700;
    border-block: none;
}

li {
    p {
        text-align: left;
        padding-block: var(--padding);
        color: var(--lightcolor);
    }
}

section ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-block: 3rem;

    list-style-position: inside;
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}

    :hover {
        scale: 110%;
    }
}

section ol li {
    flex-grow: 1;

    @media (width > 1000px) {
        max-width: 400px;
        
    }
}


section ol li::before {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: var(--padding);
    color: var(--lightcolor);
}

section ol li:first-child {
        background-color: var(--article1);  
}

section ol li:nth-child(2) {
        background-color: var(--article2);  
}

section ol li:last-child {
       background-color: var(--article3);  
}

line {
    position: absolute;
    z-index: -1;
}

.line1 {
    stroke: var(--article1);
    stroke-width: 5rem;
    z-index: -1;
}

.line2 {
    stroke: var(--article2);
    stroke-width: 5rem;
}

.line3 {
    stroke: var(--article3);
    stroke-width: 5rem;
}

/* tried color in the h1 - not sure yet */
/* span:first-child {
    color: var(--article1);
}

span:nth-child(2) {
    color: var(--article2);
}

span:last-child {
    color: var(--article3);
} */

span {
    color: var(--maincolor);
}