@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --article1: #FF2F00;
    --article2: #3631FB;
    --article3: #EB51FF; 
    --padding: 1rem;
    --lineheight: 100%
}

h1 {
    font-size: 3rem;

    @media (width > 480px) {
        font-size: 4rem;     
    }
    @media (width > 600px) {
        font-size: 5rem;     
    }

    @media (width > 950px) {
        padding-inline: calc(var(--padding)*6);
        max-width: 15ch;
        font-size: 8rem;
        padding-block-start: calc(var(--padding)*10);
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*10);  
        padding-block-start: calc(var(--padding)*15);
    }
}

h2 {
    font-size: 2.5rem;
    border-style: none;
    color: var(--lightcolor);
    
    @media (width > 600px) {
        padding-inline: var(--padding);
    }
    
    @media (width > 1200px) {
        margin-inline-start: 0
    }

}

h3 {
    font-size: 1.5rem;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--maincolor);
    padding-inline: 1rem;
    padding-block-end: 1rem;
    font-weight: 400;
    color: var(--lightcolor);
}


.first {
    background-color: var(--article1);
}
.second {
    background-color: var(--article2);
}
.third {
    background-color: var(--article3);
}

p {
    padding-inline: var(--padding);
    color: var(--maincolor);
    @media (width > 1200px) {
        margin-inline-start: 0
    }
}

.together, .open {
    padding-block: calc(var(--padding)*4);

    @media (width > 950px) {
        padding: calc(var(--padding)*6);
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*10);  
    }

}

.together {
    /* to avoid overlap of text and svg I adjusted the margin in between these two widths */
    @media (width > 475px) and (width < 600px) {
        margin-block-start: calc(var(--padding)*6);
    }
}


footer {
    border-block: none;
    padding-inline: 0;
    p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        color:var(--lightcolor);
    }
    img {
        max-width: 450px;
        width: 100%;
    }
    @media (width>450px) {
        display: grid;
        grid-template-columns: 2fr auto;
        img {
            height: 100%;
            max-height: 200px;
        }  
    }
}

.footertext {
    display: flex;
    flex-direction: column;
      
}

section ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 3rem;
    list-style-position: inside;
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}

     /* this makes it become a row */
    @media (width > 950px) {
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
}

/* sometimes this hovers the whole block - sometimes it hovers each element need to fix */
.articles {
    @media (width > 950px) {
        :hover {
        scale: 105%;
        }
    }
}

section ol li {
    flex-grow: 1;
    padding: 2rem;
    text-align: left;
    p {
        padding-block: var(--padding);
        color: var(--lightcolor);
        text-transform: none;
        font-weight: 400;
    }
}


section ol li::before {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: var(--padding);
    color: var(--lightcolor);
}

section ol li:first-child {
        background-color: var(--article1);  
}

section ol li:nth-child(2) {
        background-color: var(--article2);  
}

section ol li:last-child {
       background-color: var(--article3);  
}



span {
    color: var(--maincolor);
}

 
/* targeting last h2 in list so they are all on two lines each */
.articles li:last-child h2 {
    max-width: 12ch;
}

a { 
    text-decoration: none;
}

.svg {
    rotate: 90deg;
    scale: 100%;
    margin-block-end: 3rem;

    @media (width > 500px) {
        scale: 100%;
    }
    @media (width > 720px) {
        rotate: 0deg;
        scale: 100%;
    }
}

.colophon {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(var(--lineheight)*0.9);
    text-transform: uppercase;
    color: var(--lightcolor);
    padding-block: var(--padding);
    padding-inline: var(--padding);
    background-color: var(--maincolor);

    @media (width > 600px) {
        font-size: 3rem; 
        padding-block: calc(var(--padding)*2);
        padding-inline: calc(var(--padding)*2);
    }

    @media (width > 950px) {
        font-size: 5rem; 
        padding-inline: calc(var(--padding)*4);
        margin-block-start: calc(var(--padding)*4);
    }
}

.colophon::after {
    content: ">";
    transform: rotate(90deg);
    display: inline-block;
}

