@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 100%;
    --maincolor: #181818;
    --lightcolor: white;
    --article1: #FF461D;
    --article2: #4D64FF;
    --article3: #EB51FF; 
    /* testing new colors */
    /* --article1: #FF2F00;
    --article2: #3631FB;
    --article3: #EB51FF; */
    --spacing: 1rem;
}
body {
    font-family: var(--fontfamily);
     /* overflow-x: hidden; */
    /* prevents vertical scroll from class website/MDN */
}

h1 {
    font-size: var(--typemedium3);

    @media (width > 600px) {
        font-size: var(--typelarge);
    }

    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*6);
        max-width: 15ch;
        font-size: var(--typelarge2);
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*10); 
    }
}

h2 {
    font-size: var(--typemedium);
    border-style: none;
    color: var(--lightcolor);
    
    @media (width > 600px) {
        padding-inline: var(--spacing);
        font-size: var(--typemedium2);
    }
    
    @media (width > 1200px) {
        margin-inline-start: 0
    }

}

h3 {
    font-size: var(--typesmall2);
    line-height: var(--lineheight);
    text-transform: uppercase;
    color: var(--maincolor);
    padding-inline: var(--spacing);
    padding-block-end: var(--spacing);
    font-weight: 400;
    color: var(--lightcolor);
}

.first {
    background-color: var(--article1);
}
.second {
    background-color: var(--article2);
}
.third {
    background-color: var(--article3);
}


p {
    padding-inline: var(--spacing);
    color: var(--maincolor);
    @media (width > 1200px) {
        margin-inline-start: 0
    }
}

.together, .open {
    padding-block: calc(var(--spacing)*4);
    
    @media (width > 950px) {
        padding: calc(var(--spacing)*6);
    }
    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*10);  
    }

}

.together {
    /* to avoid overlap of text and svg I adjusted the margin */
    @media (width > 300px) {
        mmargin-block-start: calc(var(--spacing)*8);
    }
    @media (width > 400px) {
        margin-block-start: calc(var(--spacing)*12);
    }

    @media (width > 500px) {
        margin-block-start: calc(var(--spacing)*4);
    }
    @media (width > 130px) {
        margin-block-start: calc(var(--spacing)*12);
    }
}



section ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style-position: inside;
    counter-reset: index;
    /* a {
        padding-block: 3rem;
    } */
	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}

     /* this makes it become a row */
    @media (width > 950px) {
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
}

/* sometimes this hovers the whole block - sometimes it hovers each element need to fix */
.articles {
    @media (width > 950px) {
        :hover {
        scale: 105%;
        }
    }
}

.articles li a {
    display: block;
    
}

section ol li {
    flex-grow: 1;
    padding: 2rem;
    text-align: left;
    p {
        padding-block: var(--spacing);
        color: var(--lightcolor);
        text-transform: none;
        font-weight: 400;
    }
}


section ol li::before {
    font-family: var(--fontfamily);
    font-weight: 700;
    font-size: var(--typemedium);
    padding: var(--spacing);
    color: var(--lightcolor);
}

section ol li:first-child {
        background-color: var(--article1);  
}

section ol li:nth-child(2) {
        background-color: var(--article2);  
}

section ol li:last-child {
       background-color: var(--article3);  
}



span {
    color: var(--maincolor);
}

 
/* targeting last h2 in list so they are all on two lines each */
.articles li:last-child h2 {
    max-width: 12ch;
}

a { 
    text-decoration: none;
}


.colophon {
    font-size: var(--typemedium);
    font-weight: var(--heavyweight);
    line-height: var(--lineheight);
    text-transform: uppercase;
    color: var(--lightcolor);
    padding-block: var(--spacing);
    padding-inline: var(--spacing);
    background-color: var(--maincolor);

    @media (width > 600px) {
        font-size: var(--typemedium2); 
        padding-block: calc(var(--spacing)*2);
        padding-inline: calc(var(--spacing)*2);
    }

    @media (width > 950px) {
        font-size: var(--typemedium3);
        padding-inline: calc(var(--spacing)*4);
        margin-block-start: calc(var(--spacing)*4);
    }
}

.colophon::after {
    content: ">";
    transform: rotate(90deg);
    display: inline-block;
}

/* repeated need to fix */
footer {
    p {
        text-transform: uppercase;
        font-weight: var(--midweight);
        font-size: var(--typesmall2);
        color:var(--lightcolor);
        margin-inline: 0;  
    }
}



/* svg {
    z-index: -10;
    max-width: 100%;
} */

.svgparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    @media (width > 500px) {
        flex-direction: row;
    }
}



.red {
    transform: scale(0.8) translateY(-30%) translateX(-20%);
    @media (width > 500px) {
        transform: scale(2) translateY(0);
    }
    @media (width > 950px) {
        transform: scale(1.5) translateY(0);
    }
    path {
        fill: var(--article1);
    }
}

.blue {
    position: relative;
    transform: scale(0.8) translateY(-120%) translateX(30%);
    @media (width > 500px) {
        transform: scale(2) translateY(30%) translateX(50%);
    }
    @media (width > 950px) {
        transform: scale(1.5) translateY(20%) translateX(70%);
    }
    path {
        fill: var(--article2);
    }
}

.pink {
    position: relative;
    transform: scale(0.8) translateY(-200%) translateX(-20%);
    @media (width > 500px) {
        transform: scale(2) translateY(50%) translateX(-50%);
    }
     @media (width > 950px) {
        transform: scale(1.5) translateY(50%) translateX(-70%);
    }
    path {
        fill: var(--article3);
    }
}