@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 100%;
    --maincolor: #181818;
    --accentcolor: #3631FB;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}

body {
    overflow-x: hidden; 
}

main p {
    padding-inline: 0;
}

h1 {
    @media (width>950px) {
        max-width: 20ch;
    }

}
h2 {
    padding-inline: 0;
    margin-block-end: 1rem;
}

footer {
    p {
        padding-block: 1rem;
        color: var(--maincolor);
        padding-inline: 0;
    }
}

ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--padding);

}


/* ordered list of footnotes */

article ol {
    /* from MDN how to bring the list inside */
    list-style-position: inside;

    /* from slack how to add numbers with ::before */
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}
}

article ol li {
    padding-block: calc(var(--padding)*2);
    padding-block-end: calc(var(--padding)*4);
    padding-inline: var(--padding);

    @media (width > 600px) {
        padding-block: calc(var(--padding)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
    h2 {
        max-width: 40ch;
    }
    p {
        max-width: 65ch;
    }
}

/* styling numbers */
article ol li::before {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accentcolor);  

    @media (width > 1200px) {
        margin-inline-start: calc(var(--padding)*20);  
    }
}


.svg {
   scale: 120%;
    opacity: 75%;
}