:root {
    font-size: 100%;
    --maincolor: #181818;
    --accentcolor: #3631FB;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}


body {
    padding-inline-end: calc(var(--padding)*3);
    
}

main p {
    padding: 0;
}

h2 {
    padding-inline: 0;
}

footer {
    p {
        padding-block: 1rem;
        color: var(--maincolor);
    }
}

ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--padding);

}

/* from class how to create column */
ul {
    position: fixed; 
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    gap: 0.5rem;
    padding-block: var(--padding);
    /* border-inline: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem; */

}



/* ordered list of footnotes */

article ol {
    /* list-style-type: decimal; */
    /* from MDN how to bring the list inside */
    list-style-position: inside;
    /* padding-block: 3rem; */
    /* from slack how to add numbers with ::before */
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}
}

article ol li {
    padding-block: calc(var(--padding)*2);
    padding-inline: var(--padding);

     @media (width > 600px) {
        padding-block: calc(var(--padding)*4);
    }
}

/* styling numbers */
article ol li::before {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accentcolor);  
}

