@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --accentcolor: #3631FB; */
    --accentcolor: #4D64FF;
}

body {
    overflow-x: hidden;
}

main p {
    padding-inline: 0;
}

h1 {
    @media (width>950px) {
        max-width: 20ch;
    }

}
h2 {
    padding-inline: 0;
    margin-block-end: var(--spacing);
}

ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--spacing);

}

.author {
    p {
        line-height: var(--lineheight);
    }
}


/* ordered list of footnotes */

article ol {
    /* from MDN how to bring the list inside */
    list-style-position: inside;

    /* from slack how to add numbers with ::before */
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}
}

article ol li {
    padding-block: calc(var(--spacing)*2);
    padding-block-end: calc(var(--spacing)*4);
    padding-inline: var(--spacing);

    @media (width > 600px) {
        padding-block: calc(var(--spacing)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*4);
    }
    h2 {
        max-width: 40ch;
    }
    p {
        max-width: 65ch;
    }
}

/* styling numbers */
article ol li::before {
    font-family: var(--fontfamily);
    font-weight: 700;
    font-size: var(--typemedium);
    color: var(--accentcolor);  

    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
    }
}




.bottom2 {
    background-color: var(--article3);
    @media (width > 850px) {
        margin-inline-start: calc(var(--spacing)*10); 
    }
}


.blue {
    position: absolute;
    transform: scale(0.6) translateY(-60%) translateX(-60%);
    
    @media (width > 750px) {
        transform: scale(1.2) translateY(-40%) translateX(40%);
    }
    
    @media (width > 1200px) {
        transform: scale(1.4) translateY(-30%) translateX(-30%);
    }

    path {
        fill: var(--article2);
    }
}