@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 100%;
    --maincolor: #181818;
    --accentcolor: #3631FB;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}


body {
    /* padding-inline-end: calc(var(--padding)*3); */
    
}

main p {
    padding-inline: 0;
}

h1 {
    @media (width>950px) {
        max-width: 20ch;
    }

}
h2 {
    padding-inline: 0;
    margin-block-end: 1rem;
}

footer {
    p {
        padding-block: 1rem;
        color: var(--maincolor);
        padding-inline: 0;
    }
}

ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--padding);

}

/* from class how to create column */
ul {
    position: fixed; 
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    gap: 0.5rem;
    padding-block: var(--padding);
    /* border-inline: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem; */

    @media (width > 1000px) {
        gap: 0.8rem;
        font-size: 1.5rem;
        padding-inline: calc(var(--padding)*1.3);
    }


}



/* ordered list of footnotes */

article ol {
    /* list-style-type: decimal; */
    /* from MDN how to bring the list inside */
    list-style-position: inside;
    /* padding-block: 3rem; */
    /* from slack how to add numbers with ::before */
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}
}

article ol li {
    padding-block: calc(var(--padding)*2);
    padding-block-end: calc(var(--padding)*4);
    padding-inline: var(--padding);

     /* @media (width > 600px) {
        padding-block: calc(var(--padding)*4);
    } */
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
        max-width: 100ch;
        
    }
}

/* styling numbers */
article ol li::before {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accentcolor);  
}

