@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accentcolor: #4D64FF;
}

main p {
    padding-inline: 0;
}

h1 {
    @media (width>950px) {
        max-width: 20ch;
    }

}
h2 {
    padding-inline: 0;
    margin-block-end: var(--spacing);
}

ul li {
    display: block;
    text-transform: uppercase;
    padding: var(--spacing);

}

.author {
    p {
        line-height: var(--lineheight);
    }
}


/* ordered list of footnotes */

article ol {
    /* from MDN how to bring the list inside */
    list-style-position: inside;

    /* from slack how to add numbers with ::before */
    counter-reset: index;

	> li::before {
		content: counters(index, '.') '.';
		counter-increment: index;
	}
}

article ol li {
    padding-block: calc(var(--spacing)*2);
    padding-block-end: calc(var(--spacing)*4);
    padding-inline: var(--spacing);

    @media (width > 600px) {
        padding-block: calc(var(--spacing)*2);
    }
    @media (width > 950px) {
        padding-inline: calc(var(--spacing)*4);
    }
    h2 {
        max-width: 40ch;
    }
    p {
        max-width: 65ch;
    }
}

/* styling numbers */
article ol li::before {
    font-family: var(--fontfamily);
    font-weight: 700;
    font-size: var(--typemedium);
    color: var(--accentcolor);  

    @media (width > 1200px) {
        margin-inline-start: calc(var(--spacing)*20);  
    }
}

.bottom2 {
    background-color: var(--article3);

    @media (width > 850px) {
        margin-inline-start: calc(var(--spacing)*10); 
    }
}

.svgparent {
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
}

.blue {
    position: relative;
    inset-block-end: 10vh;
    inset-inline-start: 20vh;
    scale: 80%;

    @media (width > 500px) {
        inset-block-end: 20vh;
    }

    @media (width > 750px) {
        scale: 100%;
        inset-inline-start: 60vh;
    }

    @media (width > 1200px) {
        scale: 100%;
        inset-block-end: 20vh;
        inset-inline-start:-30vh;
    }
    path {
        fill: var(--article2);
    }
}