@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 100%;
    --maincolor: #181818;
    --accentcolor: #3631FB;
    --lightcolor: white;
}

body {
    font-family: "Poppins", sans-serif;
    padding-inline-end: 3rem;
}


nav li {
    display: block;
    text-transform: uppercase;

}

/* from class how to create column */
nav ul {
    position: fixed; 
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    gap: 2.5rem;
    padding-block: 1rem;
    /* border-inline: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem; */

}

header {
    padding-block-end: 2rem;
}
    
h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--maincolor);
    padding-block: 4rem;
    padding-inline: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 90%;
    color: var(--maincolor);
    text-transform: uppercase;
    /* padding-block-start: 2rem;
    padding-block-end: 1rem; */

}


article ol {
    list-style-type: decimal;
    /* from MDN how to bring the list inside */
    list-style-position: inside;
}

article ol li {
      padding-block: 2rem;
}

article ol li::marker {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accentcolor);  
}


.author {
    border-block: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem;

    p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--accentcolor);
    padding-block: 1rem;
    padding-inline-start: 1rem;


    }
}


strong {
    font-weight: 500;
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: 0.2rem;
    display: inline-block;
}

footer {
    padding-block: 2rem;
    padding-inline-start: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    color: var(--accentcolor);
    margin-block-start: 3rem;
    border-block: solid;
    border-color: var(--maincolor);
    border-width: 0.1rem;
}

.bottom {
    padding-block: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 140%;
    color: var(--maincolor);
}

span {
    background-color: var(--accentcolor);
    color: var(--lightcolor);
    padding: 0.5rem;
    display: inline-block;
}

a {
    text-decoration: underline;
}

