@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accentcolor: #EB51FF;
}
body {
    overflow-x: hidden;
}

h2 {
    border-style: none;
}


.author {
    p {
        line-height: var(--lineheight);
    }
}



h1 {
    @media (width > 950px) {
        max-width: 15ch;
    }
}

.svg {
    scale: 120%;
    opacity: 75%;
}

.bottom2 {
    background-color: var(--article1);
    @media (width > 850px) {
        margin-inline-start: calc(var(--spacing)*10); 
    }
}

.pink {
    position: absolute;
    transform: scale(0.7) translateY(-40%) translateX(40%);
    
    @media (width > 750px) {
        transform: scale(1.2) translateY(-40%) translateX(40%);
    }
    
    @media (width > 1200px) {
        transform: scale(1.4) translateY(-30%) translateX(-30%);
    }

    path {
        fill: var(--article3);
    }
}


