@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    font-size: 100%;
    --maincolor: #181818;
    --accentcolor: #FF2F00;
    --lightcolor: white;
    --padding: 1rem;
    --lineheight: 100%
}

blockquote {
    font-size: 1.2rem;
    font-style: italic;
    line-height: calc(var(--lineheight)*1.4);
    color: var(--maincolor);
    padding-block: var(--padding);
    padding-inline: var(--padding);

    @media (width > 600px) {
        font-size: 1.5rem;
        max-width: 80ch;
    }
    
    @media (width > 950px) {
        padding-inline: calc(var(--padding)*4);
    }
} 

h2 {
    border-style: none;
}

footer {
    p {
        padding-block: 1rem;
        color: var(--maincolor);
        padding-inline: 0;
    }
}

.author {
    p {
        line-height: var(--lineheight);
    }
}


