@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* --accentcolor: #FF2F00; */
    --accentcolor: #FF461D;
}


h2 {
    border-style: none;
}

.backtop {
    p {
        padding-block: var(--spacing);
        color: var(--maincolor);
        padding-inline: 0;
    }
}

.author {
    p {
        line-height: var(--lineheight);
    }
}



.bottom2 {
    background-color: var(--article2);
    @media (width > 850px) {
        margin-inline-start: calc(var(--spacing)*10); 
    }
}


.svgparent {
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
}

.red {
    position: relative;
    bottom: 15vh;
    left: 20vh;
    scale: 80%;

     @media (width > 750px) {
        scale: 100%;
        left: 40vh;
    }

    @media (width > 1200px) {
        scale: 100%;
        bottom: 20vh;
        left:-30vh;
    }
    path {
        fill: var(--article1);
    }
}

/* svg {
    z-index: -10;
    max-width: 100%;
    
}




.red {
    position: absolute;
    transform: scale(0.7) translateY(-50%) translateX(-50%);
    
    @media (width > 750px) {
        transform: scale(1.2) translateY(-40%) translateX(-30%);
    }
    
    @media (width > 1200px) {
        transform: scale(1.4) translateY(-30%) translateX(-30%);
    }

    path {
        fill: var(--article1);
    }
} */


